* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Readex Pro', sans-serif;
    background-color: rgb(189, 189, 189);
    color: rgb(46, 46, 46);;
}

.sidebar {
    position: fixed;
    background-color: rgb(189, 189, 189);
    height: 100%;
    width: 250px;
    border-right: 1px solid rgb(103, 103, 103);
}

h1 {
    font-size: 19px;
    padding: 30px;
}

ul {
    margin-top: 60px;
    padding: 30px;
}

li {
    list-style: none;
}

li a {
    color: rgb(46, 46, 46);
    text-decoration: none;
}

li:hover {
    font-size: 18px;
    transition: 0.5s;
}

main {
    margin-left: 350px;
    margin-right: 100px;
}

header {
    height: 250px; 
}

.about {
    width: 700px;
    float:right; 
    text-align: right;
}

h3 {
    font-size: 44px;
    margin-bottom: 15px;
}

.projects {
    margin-top: 700px;
    width: 700px;
    float:left; 
    text-align: left;
}

.contact {
    margin-top: 700px;
    width: 700px;
    float:right; 
    text-align: right;
}

.date {
    font-family: 'Jura', sans-serif;
}