* {
    margin: 0;
    padding: 0;
}

/* Desktop */

body {
    font-family: 'Readex Pro', sans-serif;
    background-color: #dadada;
    color: rgb(11, 11, 11);;
}

header {
    height: 250px; 
}

.sidebar {
    position: fixed;
    background-color: #dadada;
    height: 100%;
    width: 250px;
    border-right: 1.5px solid rgb(103, 103, 103);
}

main {
    margin-left: 350px;
    margin-right: 100px;
}

h1 {
    font-size: 19px;
    padding: 30px;
}

h3 {
    font-size: 55px;
    margin-bottom: 15px;
}

h4 {
    font-size: 40px;
    margin-bottom: 15px;
}

.information {
    font-size: 20px;
    margin-bottom: 20px;
}

.nav-ul {
    margin-top: 60px;
    padding: 30px;
}

.nav-li {
    list-style: none;
}

.nav-li a {
    color: rgb(46, 46, 46);
    text-decoration: none;
}

.nav-li:hover {
    font-size: 18px;
    transition: 0.5s;
}

.contact-ul {
    margin-top: 15px;
    padding: 30px;
}

.contact-li {
    list-style: none;
}

img {
    
}

/** Information divs **/ 
.about {
    float:right; 
    text-align: right;
    margin-bottom: 50px;
}

hr {
    border: none;
    border-top: 1.5px solid #333;
    color: #333;
    overflow:visible;
    height: 5px;
    margin-top: 100px;
    width: 100%;
}

.projects {
    margin-top: 700px;
    float:left; 
    text-align: left;
}

.project {
    justify-content: space-around;
}

.contact {
    margin-top: 700px;
    float:right; 
    text-align: right;
    margin-bottom: 150px;
}

.date {
    font-family: 'Jura', sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 24%);
    grid-column-gap: 10px; 
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}

.row {
}

/* Tablet */
@media (max-width: 768px) {
    body {
      background: lightcoral;
    }

    main {
        margin-left: 20px;
        margin-right: 20px;
    }
    
    header {
        height: 300px; 
    }

    .sidebar {
        height: fit-content;
        width: 100%;
        border-bottom: 1px solid black;
    }
  }

  /* Mobile */ 
  @media (max-width: 360px) {
    body {
        background-color: blue;
    }
  }